nav{
    background-color: rgb(56, 55, 55);
    margin: 0 auto;
    padding: 1rem calc((100vw - 1300px)/2);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
nav .logo{
    font-size:2rem;
    color:white;

    font-weight: bold;
}
nav ul {
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size:1.3rem;
    margin: 0 .4rem;
    padding:.6rem;
    border-radius: .4rem;
    transition: 300ms ease-in-out;
}
nav ul li a:hover{
    color:rgb(56, 55, 55);
    background-color: white;
    font-weight:bold;
}
nav .user{
    color:white;
    font-weight: bold;
    display: flex;
    flex-wrap:wrap;
    font-size:1.4rem;
}
