*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
/*functionality dashboard*/
.fDHead{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.functionalityDashboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap:1rem;
  padding: 0 2rem;
  margin: 0 auto;
  width:max-content;
}

@media screen and (max-width: 1140px){
  .functionalityDashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }  
}

@media screen and (max-width: 810px){
  .functionalityDashboard{
    display: grid;
    grid-template-columns: 1fr;

  }  
  .fDCard{
    min-width: min-content;
    min-height: max-content;
    margin:0 auto;
  }
}

.fDCard{
  border: 2px solid black;
  width: max-content;
  padding: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: .5rem;
  min-width: 350px;
  min-height: 200px;
  max-width: 350px;
  height: max-content;
  flex-wrap:wrap;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, 0.329);
  transition:300ms ease-out;
  
}
.fDCard:hover{
  box-shadow: 2px 1px 10px 10px rgba(0, 0, 255, 0.329) ;
}

.fDCard .actionButton{
  font-size: 2rem;
  border: 1px solid black;
  border-radius: .2rem;
  padding: 0 2rem;
  transition: 300ms ease-in;
  cursor: pointer;
  color:black;
}

.fDCard .actionButton:hover{
  color: white;
  background: rgba(0,0,0,0.8);
}

.fDCard p,
.fDCard h3{
  display:flex;
  justify-content: center;
  text-align: center;
  padding:.4rem;
  margin:.4rem;
  max-height: max-content;
  align-items: center;
  max-width: 200px;
  height:max-content;
  flex-wrap:wrap;
}

.fDCard img{
  object-fit: cover;
  width:250px;
  height: 200px;
  border-radius: .5rem;
}